*{
  box-sizing: border-box;

}
header{
  background-color: yellow;
  padding: 10px;
  height: 100px;
  width: 900px;
  position: fixed;
  border-color: grey;
  border-width: thick;
  border-style: dotted;
}
body{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32;
  color: navy;
}
h1{
  display: inline-block;
}
nav{
  box-sizing: border-box;
  border-color: yellow;
  border-width: thick;
  border-style: dotted;
  background-color: gray;
  padding: 10px;
  height: 70px;
  width: 680px;
  position:absolute;
  right: 10px;
  top: 10px;
  text-align: center;
}
a.main-nav{
  display: inline-block;
  height: 80px;
  width: 150px;
  right: 10px;
  top: 10px;
}
aside{
  display: inline-block;
  background-color: green;
  padding: 10px;
  width: 200px;
  position: relative;
  right: 100px;
  top: 100px;
  text-align: center;
}
article{

  padding-top: 100px;
  width: 600px;
  line-height: 1.5;
}
footer{
  display: inline-block;
  height: 30px;
  width: 900px;
  border-color: yellow;
  border-width: thick;
  border-style: dotted;
  text-align: center;
  background-color: gray;
  opacity: 0.8

}
