*{
  box-sizing: border-box;

}
body{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 32;
  color: navy;
}
h1{
  display: block;
  text-shadow: 2px 2px 0 lightgray;
}
header{
  display: inline-block;
  background-color: yellow;
  padding: 10px;
  height: 100px;
  width: 900px;
  position: fixed;
  border-color: grey;
  border-width: thick;
  border-style: dotted;
}
nav{
  display: inline-block;
  background-color: gray;
  padding: 10px;
  height: 70px;
  width: 670px;
  position:absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  border-color: yellow;
  border-width: thick;
  border-style: dotted;
}
aside{
  padding: 100px 10px 5px 710px;
  width: 180px;
  height: auto;
  position: fixed;
  display: block;
  width: auto;
  height: auto;
  text-align: center;
}
article{
  display: inline-block;
  padding: 100px 5px 5px 5px;
  height: auto;
  width: 700px;
  line-height: 1.5;
  border-color: yellow;
  border-width: thick;
  border-style: dotted;
}
footer{
  display: inline-block;
  height: 30px;
  width: 900px;
  border-color: yellow;
  border-width: thick;
  border-style: dotted;
  text-align: center;
  background-color: gray;
  opacity: 0.8

}
